In [1]:
#list of [[4,5,6],[1,6,7]]

arry = [[4,5,6],[1,6,7]]

import numpy as np

print(np.transpose(arry))

[[4 1]
 [5 6]
 [6 7]]

In [10]:
m = [[4,5,6],[1,6,7]]

rez = [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))]
print(rez)

[[4, 1], [5, 6], [6, 7]]

In [6]:
import pandas as pd 
import numpy as np

df=pd.DataFrame([["A b ",2,3],[np.nan,2,3],\
[" random",43,4],[" any txt is possible "," 2 1",22],\
["",23,99],[" help ",23,np.nan]],columns=['A','B','C'])

print (df)

                       A     B     C
0                   A b      2   3.0
1                    NaN     2   3.0
2                 random    43   4.0
3   any txt is possible    2 1  22.0
4                           23  99.0
5                  help     23   NaN

In [9]:
cols = df.select_dtypes(['object']).columns
df[cols] = df[cols].apply(lambda x: x.str.strip())
print (df)

                     A    B     C
0                  A b  NaN   3.0
1                  NaN  NaN   3.0
2               random  NaN   4.0
3  any txt is possible  2 1  22.0
4                       NaN  99.0
5                 help  NaN   NaN