# Printing Numbers in Right Triangle Shape

1
12
123
1234

In [16]:
ins = int(input("pleae enter the range : "))

for i in range(1,ins):
    for j in range(1,i+1):
        print(j,end="")
    print("")

pleae enter the range : 5
1
12
123
1234

In [18]:
ins = int(input("pleae enter the range : "))

for i in range(1,ins+1):
    for j in range(1,i+1):
        print(i,end="")
    print("")

pleae enter the range : 5
1
22
333
4444
55555

In [14]:
rows = int(input("please enter any number : "))
# Rows you want in your pattern

for row in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > row:
            print(" ", end=" ")
        else:
            print(num, end=" ")
            num += 1
    print("")

please enter any number : 5
        1
      1 2
    1 2 3
  1 2 3 4